<header class="bg-yellow-500 text-white p-4 flex justify-between px-18">
  <h1 class="text-3xl font-bold">Mon Logo</h1>
  <nav class="mt-2">
    <a routerLink="/" class="mr-4 hover:underline font-bold cursor-pointer">Main</a>
    <a routerLink="/about" class="mr-4 hover:underline font-bold cursor-pointer">About</a>
    <a routerLink="/service" class="mr-4 hover:underline font-bold cursor-pointer">Service</a>
    <a routerLink="/contact" class="mr-4 hover:underline font-bold cursor-pointer">Contact</a>
  </nav>
</header>
